/*! 
文字フォント、カラーの設定
*/

body{ 
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}

ol, ul {
    list-style: outside none none;
}
.star1 {font-size: 18px; }

.star1:before {content: "★"; }
.star2:before {content: "★★"; }
.star3:before {content: "★★★"; }
.star4:before {content: "★★★★"; }
.star5:before {content: "★★★★★"; }
