/* トップのビジュアル */
.topWelcome{width:225px; margin: 40px auto 0 auto; display: block;}
#topTitle h1{margin:40px 0 0 0;  text-align: center; font-size:18px; line-height: 2; letter-spacing:2px;}

/* トップのレコメンドリスト */
#topItemList{margin:40px auto 0 auto; padding:40px 0 0 0; width:800px; border-top: 1px solid #888888; display: block;}
