body{margin:0;}

/* ヘッダー*/
#gHeaderFixed{width:100%; background-color:#202020; height: 51px;}
#gHeaderFixed #gHeaderIco{margin: 0; text-align: center;}
#gHeaderFixed #gHeaderIco .logImg{height:25px; padding:13px 0 0 0;}
#gHeaderFixed #gHeaderSerach{position: absolute; top:0; right:0; margin: 0;}
#gHeaderFixed #gHeaderSerach .searchIco{width:31px; padding:11px 18px 0 0;}

/* フッター*/
#footer{width:100%; background-color:#202020; height:120px; margin: 30px 0 0 0;}
#footer #footerIco{text-align: center; margin: 16px 0 0 0; padding:25px;}

/* パンくず */
#pankuzu li{display:inline-block; line-height: 0; height: 17px; font-size: 14px; margin: 10px 0 0 15px;}
#pankuzu li:first-child{width:46px;}
#pankuzu li:before{content:" > ";}
#pankuzu li:first-child:before{content:none;}	
#pankuzu li{color:#888888;}
#pankuzu li a{color:#888888; display: block; line-height: 0;}
ul#pankuzu{margin-left:0; padding:0; font-size: 0;}
ul#pankuzu li .home{margin-bottom: -8px;}

/* ボタン*/
.blackBtn{color: #FFFFFF; background-color:#202020; padding: 8px 30px; border-radius: 17px;}


.close{float: right; margin-right: 20px; margin-top: -40px; width: 40px;}