#main{width: 100%;}

/* タイトル */
#searchTitle{text-align: center; margin: 20px 0 15px  0;}
#searchTitle h1{font-size:18px; margin: 0; font-weight: lighter;}
#searchTitle h2{font-size:24px; margin: 0;}
#searchTitle h2 .item{font-size:14px; color:#888888; margin: 0 0 0 4px; }


/* 検索結果 */
#topItemList{margin:0; padding:0; width:100%; border-top: 1px solid #888888; display: block;}
#topItemList ul{padding: 0; margin: 0;}
#topItemList img{float: left; height:200px; width:200px;}
#topItemList li{height:200px; width: 100%; border-bottom:1px solid #888888; }


#topItemList .itemInfo{margin: 0 0 0 5px; display: inline-block;}
#topItemList .itemInfo p{text-align: left; margin:0 0 2px 0; line-height: 1.6;}
#topItemList .itemInfo p .score{margin:10px 0 0 10px; color:#202020;}
#topItemList .itemInfo p.itemName{color:#888888; font-size:16px; height:45px; padding:20px 0 0 0;}
#topItemList .itemInfo p.price{color:#888888; font-size:16px;}
#topItemList .itemInfo p.brandName{color:#888888; font-size:14px;}
#topItemList .itemInfo p.category{color:#888888; font-size:14px;}


/*ページャー*/
#pager{display: inline-block; width: 100%; margin:45px 0 0 0;}
#pager .prev{float:left; margin:0 20px 0 20px; }
#pager img{height:35px; }
#pager #pager_logo{text-align: center; margin: 0;}
#pager .next{float: right; margin:0 20px 0 0;}


#pager #numbers{ display:block; margin:0 0 15px 0; padding:0; text-align: center; }
#pager #numbers li{font-size:24px; display:inline; padding: 0 0 0 25px; }
#pager #numbers li:first-child{padding: 0 0 0 0;}
#pager #numbers li a{color: #888888;}

#pager li.active{color:#202020;}

#pager .disabled{width:50px;}
#pager .disabled img{display:none; }
