/* ビジュアル */
.topWelcome{width:225px; margin: 40px auto 0 auto; display: block;}
#topTitle h1{margin:40px 0 40px 0;  text-align: center; font-size:24px; line-height: 2; letter-spacing:2px; font-weight: lighter;}

/* レコメンドリスト 
#topItemList{margin:40px auto 0 auto; padding:40px 0 0 0; width:100%; height: 400px; display: block;}
#topItemList li{float: left; height:270px;}
*/
#topItemList{ margin:0 0 45px 0;}
#topItemList .itemInfo p{text-align:center;}
#topItemList .itemInfo p.score{margin:10px 0 0 0; color:#202020;}
#topItemList .itemInfo p.brandName{color:#888888; margin:0; }

/* 検索箇所 */
#searchList{border-top: 1px solid #888888; padding:20px 0 0 0; font-weight: lighter;}
#searchList #brandSelect{border-top:1px #888888 solid; border-bottom:1px #888888 solid; padding:10px 0 10px 25px;}
#searchList div img{float:left;}
#searchList #searchBrand p{line-height:27px; margin-top:45px;}
#searchList #searchBrand img{padding:0 10px 0 0;}

#searchList #searchCategory p.title{line-height:19px;}
#searchList #searchCategory img{padding:0 7px 0 0;}

/*カテゴリ*/
#searchCategory .category{padding:0; border-bottom:1px solid #888888; color:#202020; }
#searchCategory .category li .trigger{margin:0; height:52px; padding:0 0 0 25px; line-height: 49px;}
#searchCategory .category .subCategory{padding:0;}
#searchCategory .category .subCategory li{height:52px; padding:0 0 0 25px;}
#searchCategory .category li{border-top:1px solid #888888; line-height: 49px;}

/* モーダル */
#brandList {opacity:0;}
#brandList .brandSection{ width:90%; left:5%; border:1px solid #aaa; background:#fff; z-index:2;  position:fixed; top:20px;}
#brandList .mordalTitle{padding:25px 0 25px 15px;}
#brandList .mordalTitle p{margin:0; font-size:18px;}
#brandList ul{ padding:0; margin:0;}
#brandList ul li { border-top:1px #888888 solid; padding:10px 0; }
#brandList ul li a{ padding:0 0 0 15px; color: #888888;}
#brandList #modarClose{float: right; margin-right: 20px; margin-top: -40px; width: 40px;}
#brandList #bgBlack{background-color: rgba(0,0,0,0.5); width: 100%; height: 200%; opacity: 1; z-index: 1; position: absolute; top:0; left: 0;}